xml/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="users">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="user" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="user">
    <xs:complexType>
        <xs:attribute name="user_id" type="xs:string" use="required" />
        <xs:attribute name="username" type="xs:string" use="required" />
        <xs:attribute name="password" type="xs:string" use="required" />    
    </xs:complexType>
</xs:element>

</xs:schema>